.RollDice {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.TheDice {
  display: flex;
  justify-content: center;
  align-content: center;
}

.RollDice button {
  align-self: center;
  width: 15em;
  padding: 1.5em;
  border-radius: 10px;
  color: White;
  background-color: black;
  margin-top: 3em;
}
.RollDice button:hover {
  background-color: rgb(0, 255, 170);
  color: black;
  cursor: pointer;
}